{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}̦

{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="title"><span>SignUp Form</span>
        </div>
        <form class="login" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
                <div id="div_id_username" class="">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Username"  id="id_username">
                    </div>
                </div>
                <div id="div_id_email" class="">
                    <div class="row">
                        <i class="fas fa-at"></i>
                        <input type="email" name="email" placeholder="E-mail address"  class="" id="id_email">
                    </div>
                </div>
                <div id="div_id_password1" class="">
                    <div class="row">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password1" placeholder="Password" autocomplete="new-password" class="" required="" id="id_password1">
                    </div>
                </div>
                <div id="div_id_password2" class="">
                    <div class="row">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password1" placeholder="Confirm Password"  class=""id="id_password2">
                    </div>
                </div>
                <div class="row button">
                    <input type="submit" value="Sign Up">
                </div>
        </form>
              <div class="pass">
                  <a style="margin:5px;" href="/accounts/login/">Already have an account? Then please Sign in.</a>
              </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$(function(){
 $("#signup").addClass("active");
 });
</script>
{% endblock %}